body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  margin: 1em 0;
}

h5 {
  font-family: "Crimson Text", serif;
}

#listings {
  margin: 10px;
  margin: 0 auto;
}

.hide-listing {
  display: hidden;
}

.urls {
  display: block;
  margin-bottom: 0.5em;
}

.listing {
  background-color: white;
  color: black;
  border: 1px solid blue;
  border-radius: 15px;
  margin: 1em;
  padding: 10px;
  max-width: 333px;
}

.input-group {
  margin: 1em auto 1em auto;
  width: 90%;
  max-width: 1000px;
}

.pure_button {
  margin: 1em auto;
  display: block;
  width: 337px;
}

.pic-size {
  height: 200px;
  max-width: 300px;
  display: block;
  margin: 0.5em auto;
}
